*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexen deca";
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*variable color*/
    $colorTitulos:rgb(128, 28, 28);
    $colorGeneral:#8a0b0b;

    
    .menu_navegacion{
        background: #000000;
        border-bottom: 3px solid $colorGeneral;
        box-shadow: 5px 0 10px $colorGeneral;
        height: 75px;
        width: 100%;
        
        h1 {
            font-family: 'Parisienne', cursive;
            font-size: 15px;
            color: aliceblue;
            position: absolute;
            margin-top: 18px;
            margin-left: 15px;
            padding: 5px 50px;
        }

        ul {
            float: right;
            margin-right: 20px;

            li {
                display: inline-block;
                line-height: 50px;
                margin: 0 5px;

                a {
                    padding: 16px 12px;
                    color: aliceblue;
                    text-decoration: none;
                    border-bottom: 6px solid transparent;
                    transition: border .3s;
                    font-size: 12px;
                    border-radius: 3px;
                    text-transform: uppercase;

                    &.active, &:hover {
                        border-bottom-color: $colorGeneral;
                        transition: .5s;
                    }
                }
            }
        }

    }   
    #check {
        display: none;
    }
    .checkbtn{
        font-size: 30px;
        color: #fff;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    .enlace{
        position: absolute;
        padding: 5px 50px;
        margin-left: -40px;
    }
    .logo{
        height: 50px;
    
    }
    /*maps*/
    $mini-menu: (
        Stock: red,
        Expor: blue,
        Servc: blueviolet,
        p-1:grey,
        p-2: violet,
        p-3:yellow,
);
@each $nombre, $valor in $mini-menu {
    .submenu-#{$nombre} {
        color:$valor;
    }
    
}
/*exten*/
.btn--aceptar{
    @extend.btn--danger;
    color: #fff;

}
/*mixin*/
@mixin btn {
    display: inline-block;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    text-decoration: none;
    font-family: sans-serif;
}

.btn--danger {
    @include btn;
    background:#8a0b0b;
}


    .servicios {
        width: 100%;

        #Stock {
            display: flexbox;
            justify-content: center;
            margin-bottom: 10rem;
            margin-top: 7rem;
        
            .img_stock {
                display: grid;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 5px;
            }
        }
     }
    
     .historia {
        h3 {
            font-family: 'Parisienne', cursive;
            font-size: 5vw;
            color: $colorTitulos;
            text-align: center;
            margin-top: -80px;
        }
    }
   
        .fuentehome{
            text-align: center;
            
             img{
                border-radius: 15px;
                height: 42vw;
            }
        }

        #info {
            .finca {

                h4 {
                    font-family: 'Parisienne', cursive;
                    font-size: 5vw;
                    color: $colorTitulos;
                    text-align: center;
                    margin-top: 50px;
                }
                }
            }
        /*media del index,menu,footer*/
        @media (max-width: 900px){
            .historia h3{
                margin-top: 400px ;
            }

            .historia p {
                margin-top: 2000px ;
            }

            .img_stock {
                grid-template-rows: 1fr 1fr 1fr;
                grid-row-gap: 3px;
              }
        }
        @media (min-width: 901px) {
            .img_stock{
             display: grid;
             justify-content: center;
             align-items: center;
             text-align: center;
             gap: 5px;
             
           
            }
        }
        @media (min-width: 901px) {
            .img_stock {
              grid-template-columns: 25% 25% 25%;
               column-gap: 10px;
              
              
            }
          }
          @media (max-width: 952px){
   
            .enlace{
               margin-top: 10px;
              
           }
        .menu_contenedor .menu_navegacion h2{
               position: absolute;
               font-size: 15px;
               margin-top: 25px;
                }
           .menu_navegacion{
               height:90px;
           }
           .menu_navegacion ul li a{
               font-size: 16px;
           }
           .menu_navegacion ul li{
               display: inline-block;
           line-height: 70px;
           margin: 0 5px;
           }
           .pie-pagina{
            margin-top: 600px;       
        }
        }
        
        @media (max-width: 858px){
           .checkbtn{
               display: block;
           }
           ul{
               position: fixed;
               margin-top: -10px;
               width: 100%;
               height: 100vh;
               background: #2c3e50;
               top: 80px;
               left: -100%;
               text-align: center;
               transition: all .5s;
               z-index: 99;
           }
           .menu_navegacion ul li{
               display: block;
               margin: 50px 0;
               line-height: 30px;
           }
           .menu_navegacion ul li a{
               font-size: 20px;
           }
           li a:hover, li a.active{
        
               background: none;
               
           }
           #check:checked ~ ul{
               left:0;
           }
           .pie-pagina{
            margin-top: 1950px;
        }
        }
        .contenedor_f{
            margin-top: -1450px;
        }
        .contenedor_l{
            margin-top: -1650px;
          }